<vue-make-me-go-away></vue-make-me-go-away>
<vue-make-me-go-away></vue-make-me-go-away>

<script id="make-me-go-away-template" type="text/template">
  <div>
    <span v-if="isVisible">make me dissapear</span>
    <button v-on:click="makeGoAway">toggle</button>
  </div>
</script>

