<!DOCTYPE html>
<html>
<head>
  <title>VueLists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">Vue Lists</span>
    </div>
  </header>
  <main class="mdl-layout__content">
    <%= yield %>
  </main>
</div>

</body>
</html>
